body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  margin-left: 50px;
}

#title {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon {}

.body-expanded {
  margin-left: 300px;
}

.content1 {
  margin-left: 50px;
}

.content2 {
  margin-left: 250px;
}

#sidemenu {
  background-color: #50CCAC;
  color: white;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
}

#sidemenu a {
  color: white;
  text-decoration: none;
}

#sidemenu #header {
  box-sizing: border-box;
  border-bottom: solid 1px #73ffdc;
}

#sidemenu #header #title {
  box-sizing: border-box;
  overflow: hidden;
}

#sidemenu #header #title,
#sidemenu #header #menu-btn {
  vertical-align: middle;
}

#sidemenu #header #menu-btn {
  display: inline-block;
}

#sidemenu #header #menu-btn {
  cursor: pointer;
  padding: 10px;
  width: 50px;
  box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover {
  background-color: #73ffdc;
}

#sidemenu #header #menu-btn .btn-hamburger {
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

#sidemenu #profile {
  border-bottom: solid 1px #73ffdc;
  padding: 10px 0;
  text-align: center;
}

#sidemenu #profile #photo {
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
}
