<app-service></app-service>

<div class="container pt-4">
    <div class="row">
        <div class="col col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Add Service</h3>
                    <form id="formContent">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="ID">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="NAME">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="STAR DATE">
                            </div>
                            <div class="mt-3">
                                <input type="submit" class="fadeIn fourth" routerLink="/service" value="Cancel">
                                <input type="submit" class="fadeIn fourth" routerLink="/service" value="Save">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
