.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

input[type=submit]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=submit]:hover {
  background-color: #5effd7;
}

input[type=submit] {
  background-color: #50CCAC;
  border: none;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  width: calc(3em + 3vw);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: calc(.5em + .5vw);
  -webkit-box-shadow: 0 10px 30px 0 #b0fdea;
  box-shadow: 0 10px 30px 0 #b0fdea;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  /*margin: 5px 20px 40px 20px;*/
  margin: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
