<div class="body">
    <div id="sidemenu" class="menu-collapsed">

        <div id="header">
            <div id="title"><img src="../../../assets/images/Logo.png" id="icon" alt=""></div>
            <div id="menu-btn">
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
            </div>
        </div>

        <div id="profile">
            <div id="photo"><img src="../../../assets/images/user.png" alt=""></div>

            <div id="name"><span>soporte.dev</span></div>
        </div>

        <div id="menu-items">
            <div class="item">
                <a routerLink="/companies">
                    <div class="icon"><img src="../../../assets/images/company.png" alt=""></div>
                    <div class="title"><span>Company</span></div>
                </a>
            </div>
            <div class="item separator"></div>
            <div class="item">
                <a routerLink="/service">
                    <div class="icon"><img src="../../../assets/images/services.png" alt=""></div>
                    <div class="title"><span>Services</span></div>
                </a>
            </div>
            <div class="item separator"></div>
            <div class="item">
                <a routerLink="/tracking">
                    <div class="icon"><img src="../../../assets/images/tracking.png" alt=""></div>
                    <div class="title"><span>Tracking</span></div>
                </a>
            </div>
            <div class="item separator"></div>
            <div class="item">
                <a routerLink="/login">
                    <div class="icon"><img src="../../../assets/images/logout.png" alt=""></div>
                    <div class="title"><span>Log Out</span></div>
                </a>
            </div>
        </div>
    </div>

    <div id="main-container1">
        <div class="content1">
            <div class="container pt-4">
                <header>
                    <div id="cont-title">
                        <h1><b>SERVICES</b></h1>
                    </div>
                </header>
                <div class="row">
                    <div class="col col-lg-6 offset-lg-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <h3>Update Service</h3>
                                <form id="formContent">
                                    <div class="row">
                                        <div class="col">
                                            <label>ID</label>
                                            <input type="text" class="form-control" value="1001">
                                        </div>
                                        <div class="col">
                                            <label>Name</label>
                                            <input type="text" class="form-control" value="Vigilancia">
                                        </div>
                                        <div class="col">
                                            <label>Strat Date</label>
                                            <input type="text" class="form-control" value="10/11/2020">
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <input type="submit" routerLink="/service" class="fadeIn fourth" value="Cancel">
                                        <input type="submit" routerLink="/service" class="fadeIn fourth " value="Save ">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
