<app-companies></app-companies>
<div class="container pt-4">
    <div class="row">
        <div class="col col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Add Company</h3>
                    <form id="formContent">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="NIT">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="NAME">
                            </div>
                        </div>
                        <div class="mt-3">
                            <input type="submit" routerLink="/nueva-cosa" class="fadeIn fourth" routerLink="/companies" value="Cancel">
                            <input type="submit" routerLink="/nueva-cosa" class="fadeIn fourth" routerLink="/companies" value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>