<app-companies></app-companies>

<div class="container pt-4">
    <div class="row">
        <div class="col col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Add Company</h3>
                    <span style="color: black;" *ngIf="enviado && createCompany.invalid "> </span>
                    <form action="" id="formContent" [formGroup]="createCompany" (ngSubmit)="agregarCompany()">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" formControlName="NIT" placeholder="NIT" required>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" formControlName="name" placeholder="name" required>
                            </div>
                        </div>
                        <div class="mt-3">
                            <input type="submit" class="fadeIn fourth" routerLink="/companies" value="Cancel">
                            <input type="submit" class="fadeIn fourth" value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
