<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div class="body">
    <div id="sidemenu" class="menu-collapsed">

        <div id="header">
            <div id="title"><img src="../../../assets/images/Logo.png" id="icon" alt=""></div>
            <div id="menu-btn">
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
            </div>
        </div>

        <div id="profile">
            <div id="photo"><img src="../../../assets/images/user.png" alt=""></div>

            <div id="name"><span>soporte.dev</span></div>
        </div>

        <div id="menu-items">
            <div class="item">
                <a routerLink="/companies">
                    <div class="icon"><img src="../../../assets/images/company.png" alt=""></div>
                    <div class="title"><span>Company</span></div>
                </a>
            </div>
            <div class="item separator"></div>
            <div class="item">
                <a routerLink="/companies">
                    <div class="icon"><img src="../../../assets/images/services.png" alt=""></div>
                    <div class="title"><span>Services</span></div>
                </a>
            </div>
            <div class="item separator"></div>
            <div class="item">
                <a routerLink="/companies">
                    <div class="icon"><img src="../../../assets/images/tracking.png" alt=""></div>
                    <div class="title"><span>Tracking</span></div>
                </a>
            </div>
            <div class="item separator"></div>
            <div class="item">
                <a routerLink="/login">
                    <div class="icon"><img src="../../../assets/images/logout.png" alt=""></div>
                    <div class="title"><span>Log Out</span></div>
                </a>
            </div>
        </div>
    </div>

    <div id="main-container1">
        <div class="content1">
            <div class="container mt-4">
                <header>
                    <div id="cont-title">
                        <h1><b>COMPANIES</b></h1>
                    </div>
                </header>
                <div class="nuevo">
                    <input type="submit" routerLink="/new-company" class="fadeIn fourth" value="New">
                </div>
                <div class="body-form">
                    <div class="container">
                        <div class="row">
                            <table class="table table-hover n">
                                <thead>
                                    <tr>
                                        <th scope="col">NIT</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Total</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-pri">
                                        <th scope="row">1234</th>
                                        <td>Giitic SAS</td>
                                        <td>$4.500.000</td>
                                        <td class="f"><a routerLink="/update-company"><i class="far fa-edit"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a routerLink="/companies"><i class="far fa-trash-alt"></i></a>&nbsp;&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr class="table-secondary">
                                        <th scope="row">2543</th>
                                        <td>Acueducto</td>
                                        <td>$235.000</td>
                                        <td class="f"><a routerLink="/update-company"><i class="far fa-edit"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a routerLink="/companies"><i class="far fa-trash-alt"></i></a>&nbsp;&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr class="table-pri">
                                        <th scope="row">35867</th>
                                        <td>Claro</td>
                                        <td>$150.000</td>
                                        <td class="f"><a routerLink="/update-company"><i class="far fa-edit"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a routerLink="/companies"><i class="far fa-trash-alt"></i></a>&nbsp;&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr class="table-secondary">
                                        <th scope="row">4312</th>
                                        <td>Enel</td>
                                        <td>$480.000</td>
                                        <td class="f"><a routerLink="/update-company"><i class="far fa-edit"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a routerLink="/companies"><i class="far fa-trash-alt"></i></a>&nbsp;&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr class="table-pri">
                                        <th scope="row">55234</th>
                                        <td>Seguridad Privada</td>
                                        <td>$1.280.000</td>
                                        <td class="f"><a routerLink="/update-company"><i class="far fa-edit"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a routerLink="/companies"><i class="far fa-trash-alt"></i></a>&nbsp;&nbsp;&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>