<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div class="imgs">
        <img src="../../../assets/images/Logo.png" id="icon" alt="User Icon" />
    </div>
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <h1>LOGIN</h1>

        <!-- Login Form -->
        <form>
            <input type="submit" (click)="loginGoogle()" class="fadeIn fourth" value="Login with Google">
            <input type="submit" routerLink="/email-login" class="fadeIn fourth" value="Login with Email">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a routerLink="/signup" routerLinkActive="active" class="create-account-txt">Create an Account</a>
        </div>

    </div>
    <div class="separador">
    </div>
</div>